<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="jameica.messaging" version="1.1" class="de.willuhn.jameica.messaging.Plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">

  <description>Stellt eine Message-Queue zur Verfügung, die via RMI, XML-RPC oder auch direkt via TCP erreichbar ist</description>
  <url></url>
  <homepage>http://www.willuhn.de/projects/jameica</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="1.7+">
    <import plugin="jameica.webadmin" version="1.1+" required="false"/>
    <import plugin="jameica.xmlrpc"   version="1.1+" required="false"/>
    <import plugin="jameica.soap"     version="1.0+" required="false"/>
  </requires>

  <classfinder>
    <include>jameica\.messaging\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="storage"          depends=""        autostart="true" class="de.willuhn.jameica.messaging.rmi.StorageService" />
    <service name="connector.tcp"    depends="storage" autostart="true" class="de.willuhn.jameica.messaging.rmi.ConnectorTcpService" />
    <service name="connector.xmlrpc" depends="storage" autostart="true" class="de.willuhn.jameica.messaging.rmi.ConnectorXmlRpcService" />
    <service name="connector.rest"   depends="storage" autostart="true" class="de.willuhn.jameica.messaging.rmi.ConnectorRestService" />
    <service name="connector.soap"   depends="storage" autostart="true" class="de.willuhn.jameica.messaging.rmi.ConnectorSoapService" />
    <service name="connector.fs"     depends="storage" autostart="true" class="de.willuhn.jameica.messaging.rmi.ConnectorFsService" />
    <service name="connector.msg"    depends="storage" autostart="true" class="de.willuhn.jameica.messaging.rmi.ConnectorMessagingService" />
  </services>
</plugin>

